# Example environment variables for development
POSTGRES_PORT=5432
POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
REDIS_PORT=6379
DJANGO_PORT=8000
FLOWER_PORT=5555
# Additional recommended envs
DJANGO_DEBUG=1
SECRET_KEY=change-me

